@import "../../theme/variables";

.UserBox {
  background: $userBox-background;
  border-radius: 5px;
  padding: $spacing-small;
  position: relative;

  .history-button {
    position: absolute;
    right: $spacing-small;
    border: 1px solid #60667e;
    border-radius: 18px;
    color: #c5d8f9;
    background: none;
    font-size: $font-size-small;
    padding: 8px $spacing-medium 8px 36px;
    background-image: url("../../assets/icons/history-ic.svg");
    background-repeat: no-repeat;
    background-position: 14px 50%;
  }

  .user-image-wrapper {
    margin: 60px auto $spacing-medium auto;
    width: 127px;
    height: 127px;
    border: 8px solid #9c75f8;
    background: #5936b1;
    border-radius: 50%;
    position: relative;

    .image-placeholder {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .user-title {
    font-size: $font-size-title-small;
    color: $font-color-main;
    opacity: 1;
    font-weight: bold;
    margin: 0 0 $spacing-medium 0;
  }

  .user-data {
    width: 100%;
    padding: 14px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: $font-size-medium;
    color: $font-color-main;
    border-radius: 27px;

    &.-balance {
      background: $user-background-primary;
      margin: 0 0 $spacing-small 0;
    }

    &.-spins {
      background: $user-background-secondary;
    }

    .user-data-title {
      display: flex;
      align-items: center;

      .user-data-image {
        margin: 0 8px 0 0;
      }
    }
  }
}
