@import "../../theme/variables";

.GameRoom {
  min-width: 1200px;
  display: flex;
  height: 100vh;

  .gameroom-sidebar {
    background: #241e36;
    padding: 60px 40px;
    flex: 1 30%;
    max-width: 420px;

    .gameroom-win {
      display: flex;
      flex-direction: column;
      align-items: center;
      background: #5834ac;
      border-radius: $border-radius-custom;
      padding: 40px 0;

      .main-icon {
        margin: 0 0 24px 0;
      }

      .lobby-win {
        color: $font-color-main;
        font-size: $font-size-title-large;
        font-weight: bold;
        text-align: center;
        margin: 0;

        .lobby-currency {
          font-size: $font-size-title-small;
          font-weight: bold;
        }
      }

      .price-pool {
        font-size: $font-size-medium;
        color: $font-color-main;
      }
    }
  }

  .gameroom-content {
    flex: 1 70%;
    background: #1a1a1a;
    position: relative;

    .win-popup {
      position: absolute;
      left: 50%;
      top: 50%;
      display: flex;
      align-items: center;
      flex-direction: column;
      transform: translate(-50%, -50%);
      width: 447px;
      padding: 60px;
      background: #241e36;
      box-shadow: 0px 0px 40px #00000096;
      border-radius: $border-radius-custom;

      .victory {
        font-size: $font-size-large;
        color: $font-color-main;
        font-weight: bold;
        margin: 8px 0;
      }

      .victory-description {
        font-size: $font-size-small;
        color: $font-color-main;
        margin: 0 0 20px 0;
      }

      .win-amount-wrapper {
        background: #201a31 0% 0% no-repeat padding-box;
        border-radius: 44px;
        opacity: 1;
        width: 299px;
        padding: 14px 0;
        margin: 0 0 45px 0;

        .price-pool {
          font-size: $font-size-medium;
          letter-spacing: 0px;
          color: $font-color-main;
          text-align: center;
          margin: 0;
        }
      }

      .lobby-win {
        color: $font-active;
        font-size: $font-size-title-medium;
        font-weight: bold;
        text-align: center;
        margin: 0;

        .lobby-currency {
          font-size: $font-size-title-small;
          font-weight: normal;
        }
      }
    }
  }

  .leaderboard-title {
    display: flex;
    justify-content: center;
    margin: 26px 0 26px 0;
    font-size: $font-size-medium;
    color: $font-color-main;
    opacity: 1;

    .leaderboard-icon {
      margin: 0 $spacing-small 0 0;
    }
  }

  .close-button {
    position: absolute;
    right: $spacing-small;
    bottom: $spacing-small;
    border-radius: 5px;
    border: none;
    font-size: $font-size-large;
    font-weight: bold;
    color: $font-color-main;
    background: $button-background-alt;
    padding: $spacing-medium $spacing-small;
  }
}
