@import "../../theme/variables";

.LeaderboardUser {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: relative;
  background: #352d4b 0% 0% no-repeat padding-box;
  border-radius: 41px;
  padding: 14px 24px 14px 80px;
  margin: 0 0 $spacing-small 0;

  .user-details {
    .username {
      padding: 0 0 0 20px;
      background: url("../../assets//icons/inactive-user-small-ic.svg");
      background-repeat: no-repeat;
      background-position: 0 50%;
      font-size: $font-size-small;
      color: $font-color-main;
      opacity: 1;
    }

    .score {
      font-size: $font-size-extra-large;
      color: #39b7ff;
      font-weight: bold;
      opacity: 1;
    }
  }

  .coin-value {
    font-size: $font-size-extra-large;
    color: #c3dae8;
    opacity: 1;
  }

  .coin-title {
    text-align: center;
    font-size: $font-size-small;
    color: #c3dae8;
    opacity: 1;
  }

  &.-active-user {
    background: #5834ac;

    .position {
      background: #ffca2a;
      color: $font-color-secondary;
    }

    .username {
      background: url("../../assets/icons/logged-user-ic.svg");
      background-repeat: no-repeat;
      background-position: 0 50%;
    }

    .score {
      color: $font-active;
    }
  }

  .position {
    position: absolute;
    top: 50%;
    left: 7px;
    transform: translateY(-50%);
    background: #3f365a 0% 0% no-repeat padding-box;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0px;
    color: $font-color-main;
    font-size: $font-size-title-small;
    font-weight: bold;
  }
}
