@import "../../theme/variables";

.CustomModal {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &:focus {
    outline: none;
  }

  .close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
  }

  &.game-modal {
    max-width: 760px;
    opacity: 1;
  }

  &.table-modal {
    max-width: 964px;
    background: $modal-background-primary;
    box-shadow: $modal-shadow;
    border-radius: $border-radius-custom;
    padding: $spacing-small;

    .history-title {
      text-align: left;
      font-size: $font-size-medium;
      margin: 15px 15px 0;
      letter-spacing: 0px;
      color: #eceffe;
      opacity: 1;
    }

    .Table {
      margin: 15px auto 0 auto;
    }

    .table-header-wrapper {
      .table-title.-participants {
        width: 230%;
        flex: 230% 1;
      }
    }

    .table-item-container {
      background: #444563 0% 0% no-repeat padding-box;
      height: 66px;

      .table-item-child {
        &.-paricipants {
          width: 230%;
          display: flex;
          overflow: visible;
          white-space: unset;
          align-items: flex-start;

          img {
            margin: 0 6px 0 0;
          }
        }

        &.-win-history {
          .win-data {
            color: $font-active;
          }
        }
      }
    }
  }
}
