@import "../../theme/variables";

.GamePopup {
  display: flex;
  margin: 0 auto;
  color: $font-color-main;
  font-weight: bold;

  .content-left,
  .content-right {
    flex: 1 50%;
    width: 50%;
    padding: $spacing-small;
  }

  .content-left {
    background: #201932;
    box-shadow: inset -37px 0px 24px -39px #00000096;
    border-radius: $border-radius-custom 0 0 $border-radius-custom;
    opacity: 1;
  }

  .content-right {
    background: #352d4b;
    border-radius: 0px $border-radius-custom $border-radius-custom 0px;
    opacity: 1;
  }

  .game-start {
    margin: 0 0 40px 0;
    font-size: $font-size-medium;
    font-weight: bold;
  }

  .game-rules {
    border: 2px solid #352d4b;
    border-left: none;
    border-right: none;
    padding: 20px 0;

    .rule {
      border-bottom: 2px solid #352d4b;
      padding: 20px 0;
      display: flex;
      justify-content: space-between;

      &:first-child {
        padding: 0 0 20px 0;
      }

      &:last-child {
        border: none;
        padding: 20px 0 0 0;
      }

      .text-right {
        color: $font-active;
      }
    }
  }

  .game-description {
    margin: 60px 0;
    text-align: center;
    font-size: $font-size-small;
    color: #b2aac5;
    opacity: 1;
  }

  .game-content {
    width: 223px;
    height: 133px;
    border: 2px solid #56bec9;
    border-radius: $border-radius-custom;
    margin: 50px auto 24px auto;
    position: relative;

    &.-coefficient {
      font-size: $font-size-title-large;
      color: $font-color-main;

      .current-coefficient {
        font-weight: bold;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    &.-type {
      padding: 14px;

      .game-image {
        width: 100%;
        height: 100%;
        background: url("../../assets/images/lucky_xmas_poster_1280x720_zh@2x.png");
        border-radius: 5px;
        background-size: cover;
      }
    }

    .game-content-title {
      position: absolute;
      bottom: 0;
      margin: 0;
      left: 50%;
      width: fit-content;
      transform: translate(-50%, 50%);
      background: #352d4b;
      padding: 0 $spacing-small;
      font-size: $font-size-title-small;
      color: $font-color-main;
      opacity: 1;
    }
  }

  .lobby-win {
    color: $font-active;
    font-size: $font-size-title-medium;
    font-weight: bold;
    text-align: center;
    margin: 0;

    .lobby-currency {
      font-size: $font-size-title-small;
      font-weight: normal;
    }
  }

  .winner-rewards {
    width: 223px;
    margin: 0 auto;

    .reward {
      display: flex;
      justify-content: space-between;
      background-color: #413858;
      background-image: url("../../assets/icons/active-user-small-ic.svg");
      background-repeat: no-repeat;
      background-position: 10px 50%;
      margin: 0 0 $spacing-small 0;
      border-radius: 18px;
      padding: $spacing-small $spacing-small $spacing-small 30px;

      .cash {
        color: $font-active;
      }
    }
  }

  .button-start {
    position: absolute;
    right: $spacing-small;
    bottom: $spacing-small;
    background: #2dbfb5;
    border-radius: 5px;
    opacity: 1;
    border: none;
    font-size: 19px;
    font-size: $font-size-title-small;
    font-weight: bold;
    letter-spacing: 0px;
    color: $font-color-main;
    padding: $spacing-medium $spacing-small;
  }
}
