@import "../../theme/variables";

.Lobby {
  max-width: 1600px;
  min-width: 1200px;
  padding: 0 20px;
  margin: 25px auto 0;

  .flexbox {
    display: flex;
    justify-content: space-between;

    &.-container-header {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      position: relative;
      margin: 0 0 32px 0;
    }

    &.-margin-bottom {
      margin: 0 0 40px 0;
      overflow: hidden;
    }

    .container-left {
      width: calc(80% - 5px);
    }

    .container-right {
      width: calc(20% - 5px);
      display: flex;
      flex-direction: column;
    }
  }

  .jackpot-counter-wrapper {
    position: absolute;
    left: 25%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
  }

  .options-wrapper {
    position: absolute;
    left: calc(80% + #{$spacing-small});
    top: 50%;
    transform: translateY(-50%);
    display: flex;
  }

  .purchase-button {
    width: 114px;
    height: 41px;
    background: $cashier-button-background;
    border: none;
    border-radius: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    .purchase-title {
      margin: 0 0 0 8px;
    }
  }

  .settings-wrapper {
    margin: 0 0 0 24px;
    display: flex;
    align-items: center;
  }

  .lobby-navigation {
    width: 100%;
    height: 60px;
    background: $nav-background-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-radius: 5px;

    .nav-buttons {
      height: 100%;
    }

    .lobby-select {
      position: relative;
      color: $font-color-main;
      font-size: $font-size-medium;
      letter-spacing: 0px;
      height: 100%;
      background: none;
      border: none;
      padding: 0 20px;
      margin: 0 $spacing-small;

      &::before {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 4px;
        background: $active-background;
        border-radius: 4px 4px 0px 0px;
        opacity: 0;
        transition: 0.15s;
      }

      &.-active {
        color: $font-active;

        &::before {
          opacity: 1;
        }
      }
    }

    .online-counter {
      display: flex;
      align-items: center;

      .live-users-title {
        color: $font-color-main;
        margin: 0 0 0 8px;
        font-size: $font-size-small;
      }
    }
  }

  .active-lobbies {
    position: relative;
    display: grid;
    margin: $spacing-small 0 0 0;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: $column-gap;
    row-gap: $row-gap;
  }

  .top-spins-container {
    background: #35364a;
    border-radius: 5px;
    opacity: 1;
    margin: $spacing-small 0 0 0;
    padding: $spacing-small;
    height: 100%;

    .top-spins-title {
      text-align: left;
      color: $font-color-main;
      font-size: $font-size-medium;
      position: relative;
      width: fit-content;
      margin: 0 0 30px 4px;

      &:after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        bottom: -8px;
        width: 100%;
        height: 3px;
        border-radius: 4px;
        background: #bdc63e;
      }

      &:before {
        content: "";
        display: block;
        position: absolute;
        right: -6px;
        bottom: -8px;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background: #9a6ff2;
      }
    }
  }

  .table-navigation {
    display: flex;
    margin: 40px 0;
    padding: 0 20px;

    .table-nav-item {
      font-size: $font-size-medium;
      color: $font-color-main;
      border: none;
      background: none;
      text-align: left;
      position: relative;
      margin: 0 30px;

      &:first-child {
        margin: 0 30px 0 0;
      }

      &.is-active {
        &:after {
          content: "";
          display: block;
          position: absolute;
          left: 0;
          bottom: -8px;
          width: 100%;
          height: 3px;
          border-radius: 4px;
          background: #6d728e;
        }

        &:before {
          content: "";
          display: block;
          position: absolute;
          right: -6px;
          bottom: -8px;
          width: 4px;
          height: 4px;
          border-radius: 50%;
          background: #ffd919;
        }
      }
    }
  }

  .overlay {
    position: absolute;
    background: black;
    width: calc(100% + 30px);
    height: calc(100% + 65px);
    z-index: 99;
    top: -25px;
    left: -30px;
    opacity: 0.5;
    animation: revealOverlay 0.25s ease-in-out;
  }

  @keyframes revealOverlay {
    from {
      opacity: 0;
    }
  }
}
