@font-face {
  font-family: 'FiraGo';
  src: url('.././assets/fonts/FiraGO-Medium.eot');
  src: url('.././assets/fonts/FiraGO-Medium.woff2') format('woff2'),
    url('.././assets/fonts/FiraGO-Medium.woff') format('woff'),
    url('.././assets/fonts/FiraGO-Medium.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'FiraGo';
  src: url('.././assets/fonts/FiraGO-Bold.eot');
  src: url('.././assets/fonts/FiraGO-Bold.woff2') format('woff2'),
    url('.././assets/fonts/FiraGO-Bold.woff') format('woff'),
    url('.././assets/fonts/FiraGO-Bold.ttf') format('truetype');
  font-style: bold;
}

@font-face {
  font-family: 'FiraGo';
  src: url('.././assets/fonts/FiraGO-Light.eot');
  src: url('.././assets/fonts/FiraGO-Light.woff2') format('woff2'),
    url('.././assets/fonts/FiraGO-Light.woff') format('woff'),
    url('.././assets/fonts/FiraGO-Light.ttf') format('truetype');
  font-style: light;
}
