$background-color: #202126;
$nav-background-color: #3d2f60;
$cashier-button-background: #ffca2a;
$background-counter: #505081;
$background-counter-secondary: #40406d;
$active-background: #ff00b2;
$lobby-background: #5f39b7;
$active-type-background: #95c7ee;
$register-button-background: #764ed4;
$userBox-background: #3b354a;
$user-background-primary: #6e717e;
$user-background-secondary: #217c8b;
$modal-background-primary: #35364a;
$modal-shadow: 0px 0px 40px #00000096;
$button-background-alt: #2f2847;

$font-color-main: #ffffff;
$font-color-secondary: #000000;
$font-color-tertiary: #ffd919;
$font-color-title-secondary: #d6d9d9;
$font-color-title-tertiary: #98aac2;
$font-color-title-quaternary: #9aaacf;
$font-active: #ffff00;
$font-background-entry: #ffe926;

$font-size-medium: 16px;
$font-size-small: 15px;
$font-size-large: 20px;
$font-size-extra-large: 26px;
$font-size-title-small: 20px;
$font-size-title-medium: 36px;
$font-size-title-large: 60px;

$spacing-small: 10px;
$spacing-medium: 16px;
$border-radius-custom: 10px;

$column-gap: 10px;
$row-gap: 10px;
