@import "./variables";
@import "./fonts";

* {
  box-sizing: border-box;
  font-family: "FiraGo", Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $background-color;

  button {
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }

  &.ReactModal__Body--open {
    overflow-y: hidden;
  }

  .ReactModal__Overlay {
    background: none !important;
    z-index: 99999;
  }

  .App {
    position: relative;
  }
}
