@import "../../theme//variables";

.TopSpin {
  background: #444563 0% 0% no-repeat padding-box;
  border-radius: 5px;
  padding: $spacing-small;
  position: relative;
  margin: 0 0 $spacing-small 0;

  .spin-date {
    position: absolute;
    right: $spacing-small;
    top: $spacing-small;
    background-image: url("../../assets/icons/history-ic.svg");
    background-repeat: no-repeat;
    background-position: 0 50%;
    padding: 0 0 0 24px;

    .spin-time,
    .spin-hour {
      font-size: $font-size-medium;
      color: $font-color-main;
      opacity: 0.55;
    }

    .spin-hour {
      margin: 0 0 0 8px;
    }
  }

  .user-list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    text-align: left;
    font-size: $font-size-medium;
    letter-spacing: 0px;
    color: $font-color-main;
    opacity: 1;

    .user-icon {
      width: 18px;
    }

    .available-users {
      width: 80%;
      max-height: 19px;
      transition: max-height 0.45s;
      margin: 0 6px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &.-active {
        max-height: 60px;
        white-space: normal;
        overflow: hidden;
        transition: max-height 0.45s;
      }
    }
  }

  .view-toggle {
    width: 19px;
    height: 19px;
    background: #575875;
    border-radius: 3px;
    opacity: 1;
    border: none;
    font-size: 32px;
    letter-spacing: 0px;
    color: $font-color-main;
    position: absolute;
    right: $spacing-small;

    .toggle-image {
      width: 10px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      opacity: 0.25;

      &.-rotate {
        transform: translate(-50%, -50%) rotate(180deg);
      }
    }
  }

  .multiplier {
    font-size: $font-size-large;
    letter-spacing: 0px;
    color: #d2efff;
    opacity: 1;
    text-align: left;
    position: relative;
    left: 0;
    transition: 0.25s;

    &.-toggle-active {
      left: 22px;
      top: 4px;
    }
  }

  .spin-win {
    font-size: $font-size-title-medium;
    font-weight: bold;
    text-align: left;
    letter-spacing: 0px;
    color: #39b7ff;
    opacity: 1;
    margin: 0;

    .spin-currency {
      font-size: $font-size-small;
    }
  }
}
