@import '../../theme/variables';

.JackpotCounter {
  &:last-child {
    margin: 0 0 0 98px;
  }

  .jackpot-title {
    color: $font-color-title-tertiary;
    letter-spacing: 0px;
    font-size: $font-size-medium;
    margin: 8px 0 0 8px;
    text-align: left;
  }

  .decimal-point {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: $background-counter;
  }

  .jackpot-earning {
    display: flex;
    align-items: flex-end;
  }

  .earning-value {
    color: $font-color-title-secondary;
    font-size: $font-size-title-small;
    background: $background-counter 0% 0% no-repeat padding-box;
    border-radius: 3px;
    margin: 0 2px;
    padding: 2px 4px;
  }

  .earning-value-decimal {
    color: $font-color-title-quaternary;
    font-size: $font-size-medium;
    background: $background-counter-secondary;
    border-radius: 3px;
    margin: 0 2px;
    padding: 2px 4px;
  }
}
