@import "../../theme/variables";

.Table {
  max-width: 100%;
  height: 100%;
  margin: 24px auto 0;
  height: 92%;
  box-sizing: border-box;

  .table-header-wrapper {
    display: flex;
    width: 100%;
    margin: 0 $spacing-medium 0 0;
    padding: $spacing-medium #{$spacing-medium / 2};
    background: #35364a 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
  }

  .table-title {
    width: 100%;
    display: flex;
    text-align: left;
    opacity: 0.7;
    padding: 0 8px;
    color: $font-color-main;
    font-size: $font-size-medium;
    flex: 100%;

    &.-icon {
      flex: 20%;
    }
  }

  .table-item-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-sizing: border-box;
    height: 54px;
    margin: 0 0 2px 0;
    border-radius: 5px;
    color: $font-color-main;
    padding: 0 8px;

    &:last-child {
      margin: 0;
    }

    &:nth-child(even) {
      background: #252630;
    }

    &:nth-child(odd) {
      background: #272936;
    }

    .table-item-child {
      width: 100%;
      text-align: left;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 0 8px;

      &.-icon {
        flex: 20%;
        position: relative;

        &:after {
          content: "";
          display: block;
          position: absolute;
          left: 40px;
          top: 0;
          width: 3px;
          height: 27px;
          background: #383946;
          border-radius: 2px;
        }

        img {
          width: 20px;
        }
      }

      &.-time {
        display: flex;

        img {
          margin: 0 8px 0 0;
        }
      }

      &.-coeff {
        .coeff-data {
          background: #323341;
          border-radius: 15px;
          width: 62px;
          text-align: center;
          padding: 2px 0;
          font-size: $font-size-medium;
          letter-spacing: 0px;
          color: #ffd919;
        }
      }

      &.-user {
        display: flex;

        img {
          margin: 0 8px 0 0;
        }

        .user-title {
          width: 35%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      &.-win {
        .win-data {
          background: #5f39b7;
          border-radius: 15px;
          width: 62px;
          text-align: center;
          padding: 2px 0;
          font-size: $font-size-medium;
          letter-spacing: 0px;
          color: #ffd919;
        }
      }

      button {
        cursor: pointer;
        background: none;
        border: none;
        position: relative;
        width: 64px;
        text-align: center;
        box-sizing: border-box;
        line-height: 16px;
        z-index: 999;
        font-weight: 600;
        transition: 0.15s;

        &::after {
          content: "";
          display: block;
          position: absolute;
          border: 2px solid #e0e0e0;
          width: 100%;
          height: 100%;
          transform: skew(36deg, 0deg);
          top: -4px;
          left: 0;
        }

        &.main {
          color: #000;
          &:after {
            border: 2px solid #fff;
            background: #fff;
            z-index: -1;
          }

          &:hover {
            color: #fff;
            &:after {
              border-color: #000;
              background: #000;
            }
          }
        }

        &.secondary {
          margin: 0 0 0 $spacing-small;
          color: #fff;

          &:after {
            z-index: -1;
          }

          &:hover {
            color: #000;
            font-weight: 600;
            &:after {
              border-color: #fff;
              background: #fff;
            }
          }
        }
      }
    }
  }
}
