@import "../../theme/variables";

.RegisteredLobby {
  position: absolute;
  top: 0;
  left: 0;
  height: 338px;
  width: calc(50% - #{$column-gap / 2});
  background: #1c8c9c;
  border-radius: $border-radius-custom;
  z-index: 9999;
  padding: 14px;

  .LobbyContainer-content {
    animation: reveal 0.5s ease-out forwards;
  }

  .lobby-info {
    display: flex;
    justify-content: space-between;

    .lobby-info-right {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .lobby-type {
    text-align: left;
    color: $font-color-main;
    font-size: $font-size-medium;
    position: relative;
    width: fit-content;
    margin: 0 0 30px 4px;

    &:after {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      bottom: -18px;
      width: 100%;
      height: 3px;
      border-radius: 4px;
      background: $active-type-background;
    }

    &:before {
      content: "";
      display: block;
      position: absolute;
      right: -6px;
      bottom: -18px;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background: #6ff27b;
    }
  }

  .entry-price {
    color: $font-color-secondary;
    font-size: $font-size-medium;
    background: $font-background-entry;
    width: fit-content;
    margin: 0;
    padding: 8px 20px;
    border-radius: 19px;
  }

  .lobby-win {
    color: $font-color-main;
    font-size: $font-size-title-medium;
    font-weight: bold;
    text-align: center;
    margin: 0 0 0 36px;

    .lobby-currency {
      font-size: $font-size-title-small;
      font-weight: normal;
    }
  }

  .registered-lobby-title {
    text-align: center;
    font-size: $font-size-title-small;
    color: $font-color-main;
    margin: 40px auto 30px auto;
  }

  .available-users {
    display: flex;
    justify-content: center;
    margin: 0 0 36px 0;
    transition: 0.25s;

    &.ready-lobby {
      position: absolute;
      left: 0;
      bottom: 20px;
      margin: 0;

      .available-users-icon {
        margin: 0 15px;
      }
    }

    .available-users-icon {
      margin: 0 20px;
      transition: 0.25s;
    }
  }

  .registered-button {
    position: absolute;
    right: $spacing-small;
    bottom: $spacing-small;

    border-radius: 5px;
    opacity: 1;
    border: none;
    font-size: 19px;
    font-size: $font-size-title-small;
    font-weight: bold;
    letter-spacing: 0px;
    color: $font-color-main;
    padding: $spacing-medium $spacing-small;

    &.-unregister {
      background: #1a6f7d;
    }

    &.-start {
      background: #2dbfb5;
    }
  }

  .timer-title {
    text-align: center;
    font-size: $font-size-medium;
    color: $font-color-main;
    margin: 0 0 15px 0;
  }

  .lobby-animation {
    width: 100%;
    max-width: 314px;
    height: 2px;
    background: #26c6df 0% 0% no-repeat padding-box;
    border-radius: 6px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;

    .loader {
      position: absolute;
      left: 0;
      top: 0;
      background: #17ff4d 0% 0% no-repeat padding-box;
      border-radius: 6px;
      width: 15%;
      height: 100%;
      animation: 1.5s ease-in-out loop infinite;
    }
  }

  .lobby-game {
    display: flex;
    justify-content: center;
    margin: 26px 0 0 0;
    animation: reveal 0.5s ease-out forwards;

    .game-content {
      width: 223px;
      height: 133px;
      border: 2px solid #56bec9;
      border-radius: $border-radius-custom;
      margin: 0 $spacing-small;
      position: relative;

      &.-coefficient {
        font-size: $font-size-title-large;
        color: $font-color-main;

        .current-coefficient {
          font-weight: bold;
          margin: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      &.-type {
        padding: 14px;

        .game-image {
          width: 100%;
          height: 100%;
          background: url("../../assets/images/lucky_xmas_poster_1280x720_zh@2x.png");
          border-radius: 5px;
          background-size: cover;
        }
      }

      .game-content-title {
        position: absolute;
        bottom: 0;
        margin: 0;
        left: 50%;
        width: fit-content;
        transform: translate(-50%, 50%);
        background: #1c8c9c;
        padding: 0 $spacing-small;
        font-size: $font-size-medium;
        color: $font-color-main;
        opacity: 1;
      }
    }
  }

  @keyframes loop {
    from {
      left: -15%;
    }

    to {
      left: 115%;
    }
  }

  @keyframes reveal {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}
