@import "../../theme/variables";

.LobbyContainer {
  width: 100%;
  max-width: 310px;
  background: $lobby-background;
  border-radius: 12px;
  padding: $spacing-small 4px;

  p {
    margin: 0;
  }

  .lobby-type {
    text-align: left;
    color: $font-color-main;
    font-size: $font-size-medium;
    position: relative;
    width: fit-content;
    margin: 0 0 30px 4px;

    &:after {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      bottom: -8px;
      width: 100%;
      height: 3px;
      border-radius: 4px;
      background: $active-type-background;
    }

    &:before {
      content: "";
      display: block;
      position: absolute;
      right: -6px;
      bottom: -8px;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background: #6ff27b;
    }
  }

  .lobby-win {
    color: $font-color-main;
    font-size: $font-size-title-large;
    font-weight: bold;
    text-align: center;

    .lobby-currency {
      font-size: $font-size-title-small;
      font-weight: normal;
    }
  }

  .lobby-max {
    font-weight: $font-size-medium;
    color: $font-color-main;
    margin: 0 0 20px 0;
    text-align: center;
  }

  .available-users-icon {
    margin: 0 $spacing-small;
  }

  .available-users {
    margin: 0 auto 20px auto;
    display: flex;
    justify-content: center;
  }

  .entry-price {
    color: $font-color-secondary;
    font-size: $font-size-medium;
    background: $font-background-entry;
    width: fit-content;
    margin: 0 auto 20px auto;
    padding: 8px 20px;
    border-radius: 19px;
  }

  .register-button {
    font-size: $font-size-title-small;
    font-weight: bold;
    color: $font-color-main;
    background: $register-button-background;
    border: none;
    width: 100%;
    padding: 18px 0;
    border-radius: 5px;
    transition: 0.15s;

    &:hover {
      background: $button-background-alt;
    }
  }
}
